<div id="awards" class="add">
    <div class="product-info">
        <div class="product-info-heading">Honours and Awards</div>
        <div class="product-info-content">
            <p>
                <ul>
                    <li>Q Award in recognition of Results, Innovation, and Satisfaction, SciQuest Inc., 2015</li>
                    <li>Member of the Dean’s Honour Roll, Northern Alberta Institute of Technology, 2011</li>
                    <li>Recipient of the Louise McKinney Scholarship, 2011</li>
                </ul>
            </p>
        </div>
    </div>
</div>