<div id="education" class="col">
    <div class="product-info">
        <div class="product-info-heading">Education</div>
        <div class="product-info-content">
            <div class="product-info-content-heading">
                Northern Alberta Institute of Technology
            </div>
            <div class="product-info-content-subheading">
                <div>Database Administration, Certificate, 2015</div>
                <div>Computer Engineering Technology, Diploma with Honours, 2010 – 2012</div>
            </div>
            <div class="product-info-content-data">
                <p>
                    Featuring classes in Calculus, Electrical Physics, Computer Networking, Computer Hardware, and
                    Computer Administration, the courses included a variety of software development related classes:
                </p>
                <ul>
                    <li>Advanced Windows Programming using C#</li>
                    <li>Database Design and Management</li>
                    <li>ASP .Net 4.0 Development</li>
                    <li>Web Design using JavaScript, JQuery, and PHP</li>
                </ul>
            </div>
        </div>
    </div>
</div>
