<div id="experience" class="col">
    <div class="product-info">
        <div class="product-info-heading">Experience</div>
        <div class="product-info-content">
            <div class="product-info-content-heading">
                SciQuest, Inc.
            </div>
            <div class="product-info-content-subheading">
                <div>Senior Software Developer, April 2016 – September 2016</div>
                <div>Software Developer, June 2012 – April 2016</div>
            </div>
            <div class="product-info-content-data">
                <p>
                    With a focus on technologies in C#, JavaScript, HTML, SQL and relational databases, etc., my roles
                    included, but were not limited to, designing and implementing projects in the following areas:
                </p>
                <ul>
                    <li>Single Sign-on Authentication</li>
                    <li>Product Application Integration</li>
                    <li>Mass Data Loading Tools</li>
                    <li>SOAP-based WCF APIs</li>
                    <li>Database Administration</li>
                    <li>Stability and Performance</li>
                    <li>Agile Software Development</li>
                    <li>Knowledge Transfer</li>
                </ul>
            </div>
        </div>
    </div>
</div>