<div id="introduction" class="page-info">
    <div class="page-info-heading">About Douglas Verheijen</div>
    <p>
        Douglas Verheijen is a professional software developer and aspiring painter, with an interest in philosophy and the arts.
        He studied Computer Engineering Technology at the Northern Alberta Institute of Technology in 2007 - where he later received
        a certificate in Database Administration in 2015 - and has been a software developer every since. He has recently begun
        focusing his attention on web and graphic design while branching out and studying philosophy and art
    </p>
    <p>
        Douglas was employed as a Senior Software Developer with <a class="corporate" href="http://www.sciquest.com" target="_blank">SciQuest Inc.</a>,
        a Spend Management Solutions provider, working primary on the Contract Lifecycle Management solution <i>Contract Director</i>.
        While there, he programmed in variety of differents areas, which are briefly described below. <tag link="#experience">View</tag>
    </p>
    <p>
        Currently, Douglas is the Director and primary Software Consultant of <span class="corporate">Douglas Verheijen Technologies Inc.</span>, and is always looking for new 
        challenges and opportunities. If you would like to contact him, please fill out the form down below. <tag link="#contact">View</tag>
    </p>
</div>
