<div id="projects" class="col">
    <div class="product-info">
        <div class="product-info-heading">Online Project Demos</div>
        <div class="product-info-content">
            <div>
                <p>The following are just a small number of the projects that Douglas has independently worked on:</p>
                <ul>
                    <li><a href="http://liquidart.dverheijen.com"><span>LiquidArt</span></a></li>
                    <li><a href="http://liquiddoses.dverheijen.com"><span>LiquidDoses</span></a></li>
                    <li><a href="http://liquidlibrary.dverheijen.com"><span>LiquidLibrary</span></a></li>
                    <li><a href="http://liquidsecurity.dverheijen.com"><span>LiquidSecurity</span></a></li>
                </ul>
            </div>
            <div class="social-media-wrapper">
                <ul class="links">
                    <li><a href="http://www.facebook.com/dverheijen" target="_blank"><img class="socialMedia" src="~/Resources/facebook_icon.png" /></a></li>
                    <li><a href="http://twitter.com/aestreal" target="_blank"><img class="socialMedia" src="~/Resources/twitter_icon.png" /></a></li>
                    <li><a href="http://www.linkedin.com/in/douglas-verheijen-87034552" target="_blank"><img class="socialMedia" src="~/Resources/linkedin_icon.png" style="height:10%;" /></a></li>
                    <li><a href="http://www.instagram.com/Aestreal/" target="_blank"><img class="socialMedia" src="~/Resources/instagram_icon.png" style="height:10%;" /></a></li>
                    <li><a href="http://plus.google.com/u/0/104497140767637519514" target="_blank"><img class="socialMedia" src="~/Resources/google_icon.png" style="height:10%;" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>