<div id="skills" class="add">
    <div class="product-info">
        <div class="product-info-heading">Skills</div>
        <div class="product-info-content">
            <p>
                <ul>
                    <li>C# based .NET technologies and practices, including ASP.NET, MVC, WCF, LINQ, Reflection, NHibernate, WS-Federation, Object-Oriented design, Multithreaded design, and Network Sockets</li>
                    <li>MS SQL Server, T-SQL, MySQL, and relational database design</li>
                    <li>JavaScript, JQuery, JSON, AJAX, AngularJS, PHP, HTML, CSS, and web design</li>
                </ul>
            </p>
        </div>
    </div>
</div>