<meta http-equiv="Refresh" content="5; url=@Request.UrlReferrer" />
<div class="page-content">
    <div class="page-info-wrapper">
        <div>
            <div class="page-info-heading">Thank You</div>
            <p>Douglas will try to respond as soon as he can.</p>
            <p>This page will redirect back in 5 seconds...</p>
        </div>
    </div>
</div>